
.main-containter{
    margin-top:50px;
}

.container-fluid{
    padding-left:0;
    padding-right:0;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/*固定欄位寬度300像素*/
.col-fixed {

    background: #C00;
   
}

@media(min-width:768px) {
    .col-fixed{
        background: #C00;
    }
    .main-content {
        background: #EEE;
        /* width:calc(100% - 190px);*/
    }
}